<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sauce Swag" parallel="tests" thread-count="3">
<listeners>
 <listener class-name ="SauceLab.Automation.Listeners">
 </listener>
</listeners>
	<test name="Login Test">
      <classes>
      	<class name="SauceLab.Automation.LoginTest"/>
      </classes>
    </test>
 <test name="Order Placing Test">
      <classes>
      	<class name="SauceLab.Automation.addToCart"/>
      </classes>
    </test>
      
    <test name="Sort Cart List">
      <classes>
      	<class name="SauceLab.Automation.filterTest"/>
      </classes>
    </test>

   <!-- Test -->
</suite> <!-- Suite -->